:root{
    --title-color: #724eb9;
    --primary-color:#34cb79
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Roboto, sans-serif   
}

body{
    background-color: #f0f0f5;
    -webkit-font-smoothing: antialiassed ;
}

h1,h2,h3,h4,h5{
    color: var(--title-color);
    font-family: Ubuntu, sans-serif;
}

a {
    text-decoration: none;
}



